body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
/* Masthead and navigation */
#header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.nav {
  font-size: 18px;
  color: white;
  }
/* Main body content */
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.content {
  font-size: 14px;
}

.section-break { /*Used to divide About section from other sections */
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

#footer {
  background-color: dimgray;
  text-align: left;
}

#copyright {
  font-size: 11px;
  color: white;
}
